<div id="container">
	<h1>About Me</h1>
	<div class="section">
		<div class="about-text">
			<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, aliquid voluptate? Quo aliquid voluptatem sapiente error veniam beatae unde voluptatum explicabo, impedit nisi ab officiis optio enim delectus? Beatae, a.</h2>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa ipsum ea, amet vitae facere molestiae nemo maiores deleniti alias reiciendis atque natus eaque dolores aperiam tempora, modi accusantium porro dicta!</p>
		</div>
		<div class="contact-info">
			<img src="/assets/images/about/me.png" alt="photo of Charly sitting in a field">
			<a href="mailto:booksandfeathers@yahoo.co.uk">booksandfeathers&#64;yahoo.co.uk</a>
			<a href="https://instagram.com/charlyfeathers" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a>
			<a href="https://youtube.com/@StitcheswithCharlyFeathers" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faYoutube"></fa-icon></a>
		</div>
	</div>
</div>