.emptyBasket { 
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

.basket img {
	width: 100px;
	height: 100px;
}

.qty {
	cursor: pointer;
	padding: 5px;
}

.trash-bin {
	cursor: pointer;
}