<div class="wrapper">
	<div class="hero-section">
		<div class="hero-section-container">
			<h3>Handstitcher & Gelli Printer</h3>
			<h1>Handmade floss drops, ring bling and needle minders</h1>
			<p>Inspired by nature and the simple things in life.</p>
			<a href="#" class="btn dark">Shop</a>
		</div>
	</div>

	<div class="browse-section">
		<div class="browse-section-card">
			<img src="/assets/images/browse-floss-drops.png" alt="photo of decorative paper floss drops"/>
			<a href="#">Floss Drops</a>
		</div>
	</div>
</div>
