<div class="wrapper">
	
	<section>
		<div class="even-columns">
			<div class="hero-section-container">
				<p class="eyebrow">Handstitcher & Gelli Printer</p>
				<h1>Handmade floss drops, ring bling and needle minders</h1>
				<p>Inspired by nature and the simple things in life.</p>
				<a href="#" class="btn dark">Shop</a>
			</div>
		</div>
	</section>

	<section class="browse-section">

		<h2>Browse The Catalog</h2>
		<div class="browse-section-card">
			<img src="/assets/images/home//browse-floss-drops.png" alt="photo of decorative paper floss drops"/>
			<a href="#" class="browse-link">Floss Drops</a>
		</div>

		<div class="browse-section-card">
			<img src="/assets/images/home/browse-needle-minders.png" alt="photo of needle minder with painted bird nest"/>
			<a href="#" class="browse-link">Needle Minders</a>
		</div>

		<div class="browse-section-card">
			<img src="/assets/images/home/browse-ring-blings.png" alt="photo of ring bling with painted santa"/>
			<a href="#" class="browse-link">Ring Bling</a>
		</div>

	</section>

	<section class="best-sellers-section">
		<h2>Best Sellers</h2>
		<cfs-best-seller-card />
	</section>

	<cfs-instagram-feed/>
</div>
