<div class="wrapper">
	<div class="footer-address">
		<img src="assets/images/footer/charly-feathers-logo-horizontal-black.png" alt="charly feathers horizontal logo">
		<address>35 The Cove<br>
			Porthtowan<br>
			Truro<br>
			United Kingdom<br>
			TR4 8FD<br>
		</address>
	</div>
	<nav>
		<p>Links</p>
		<ul>
			<li>Home</li>
			<li>Catalog</li>
			<li>About</li>
			<li>Contact</li>
		</ul>
	</nav>
	<div class="help-links">
		<ul>
			<li>Payment Options</li>
			<li>Shipping Costs</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
	<div class="newsletter">
		<p>Newsletter</p>
		<form>
			<input type="email" id="email" name="email" placeholder="Enter Your Email Address">
			<button type="submit">SUBSCRIBE</button>
		</form>
	</div>
	<hr>
	<p>&copy; {{ currentYear }} Charly Feathers. All rights reserved
	</p>
</div>
