<div class="ticker">
    <p>Open for collaborations and commissions</p>
</div>
<div class="wrapper">
    <a routerLink="/">
        <img src="/assets/images/header/charly-feathers-logo-small.png" alt="charly-feathers-logo-small"/>
    </a>
        <nav>
        <ul role="list" class="nav-list">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li>
                <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
            </li>

            <li>
                <a routerLink="/about" routerLinkActive="active">About</a>
            </li>

            <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>

        <ul role="list" class="icon-list">
            <li>
                <a href=""><fa-icon [icon]="faUser" ></fa-icon></a>
            </li>
            <li>
                <a href=""><fa-icon [icon]="faMagnifyingGlass"></fa-icon></a>
            </li>
            <li>
                <a href=""><fa-icon [icon]="faHeart"></fa-icon></a>
            </li>
            <li>
                <a href=""><fa-icon [icon]="faShoppingCart"></fa-icon> </a>
            </li>
        </ul>
</div>