.ticker {
    font-family: var(--ff-alt);
    font-size: var(--fs-200);
    color: var(--clr-neutral-100);
    text-align: center;
    align-content: center;
    background-color: var(--clr-accent-400);
    height: 39px;
}

nav 
{
    justify-self: flex-end;
    display: flex;
    height: 126px;
    margin: auto;
    text-decoration: none;
}

.nav-list {    
    display: inline-block;
    justify-self: center;
    margin: auto 200px;
}

.nav-list li {
    list-style-type: none;
    padding: 14px;
}

.icon-list {   
    align-items: end;
    display: flex;
    justify-content: flex-end;
    display:inline-block;
    margin: auto;
}

.icon-list li {
    padding: 10px;
}

ul {    
    margin: auto 44px;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: block;
    position: relative;
    float:inline-start;
    text-align: center;
}

ul li a {
    font-family: var(--ff-light);
    color: var(--clr-primary-800);    
    text-decoration: none;
}

ul li a:hover {
    font-family: var(--ff-medium);
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .ticker{
        font-size: var(--fs-200);
    }
} 

