<div class="wrapper">
    <div class="ticker">
        <p>Open for collaborations and commissions</p>
    </div>
    <nav>
        <div class="logo">
            <img src="/assets/images/charly-feathers-logo-small.png" alt="charly-feathers-logo-small"/>
        </div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Catalog</a>
            </li>

            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <div class="user-buttons">
            <fa-icon [icon]="faUser"></fa-icon> 
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon> 
            <fa-icon [icon]="faHeart"></fa-icon> 
            <fa-icon [icon]="faShoppingCart"></fa-icon> 
        </div>
    </nav>
</div>