<div class="wrapper">
	<h3>Catalog / {{ filter }}</h3>	
	
	<div class="filter-ribbon">
		
		<h2>{{ filter }} @if(filter == "All") { &ensp;Products}</h2>
		<div class="filters">
			<cfs-order-by-filter (selectOrderBy)="changeOrder($event)"/>
			<cfs-category-filter (selectCategory)="filterCategory($event)"/>
			<cfs-num-products-filter (selectMaxProducts)="changeMaxProducts($event)"/>
		</div>

		<div class="products">

			@for(product of paginatedProducts; track product.id) {
				<cfs-product-card [product]="product"></cfs-product-card>
			}

		</div>

		<cfs-pagination 
			[currentPage]="currentPage" 
			[itemsPerPage]="itemsPerPage" 
			[totalItems]="products.length" 
			(clickPage)="changePage($event)"
		/>
	</div>
</div>
